<% @images.in_groups_of(4, false) do |group| %>
  <div class="row row-flex row-flex-wrap">
    <% group.each do |image| %>
      <% cache("image-#{image.id}") do %>
        <div class="col-md-3">
          <div class="panel panel-default flex-col">
            <div class="panel-heading">
              <p>Added by <%= link_to image.user.name, user_path(image.user), class: "bold" %> </p>
            </div>
            <div class="panel-body image-src flex-grow">
              <%= link_to image.giphy_image.url_for(:source) do %>
                <%= image_tag image.giphy_image.url_for(:static) %>
              <% end %>
            </div>
            <div class="panel-footer">
              <% image.tag_list.each do |tag| %>
                <%= link_to tag, tags_images_path(tag: tag), class: "btn btn-xs btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
